@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  background:linear-gradient(45deg,#833ab4,#fd1d1d,#fcb045);
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  overflow-x: hidden;
 
}
/*welcome section*/
.welcome-section{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75rem;

  
  background-image: linear-gradient(45deg,#FBD3E9,#BB377D);
  border-radius: 30px;
}
.welcome-section > div > div >h4 {
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 2rem;
  font-family: monospace;
}
.welcome-section > p{
  color : white;
  text-align: center;
  font-weight:200;
  font-size: 3rem;
  font-style: italic;
}

#profile:hover {
  opacity: 0.7;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
#about_me{
  text-align: center;
  width: 50%;
  margin-top: 50px;
  margin-left: 100px;
  font-size: 4rem;
  font-family: monospace;
}

@media(max-width: 681px){
.welcome-section{
  display: flex;
  flex-direction: column;
}
#about_me{
  margin-top: 10px;
  text-align: center;
  width: 90%;
  font-size: 2rem;
  margin-left: 0px;

}
}
/*end welcomesection*/

a{
  text-decoration: none;
  color: white;
}
/*nav*/
/*.nav_bar{
  justify-content: center;
  display: flex;
  position: fixed;
  top : 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  
 
  background:linear-gradient(30deg,rgb(237,201,136),rgba(229, 172, 180, 0.2)),url("img1.jpg");
  background-size: 100%;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
}
.nav_bar a {
  font-family: 'open sans';
  display: block;
  font-size: 3rem;
  padding: 2rem;
}
.nav_bar a:hover {
  transition: 0.2s;
  background: #c56183;
  border-radius: 20px;
  opacity: 65%;
  
 
}
@media(max-width: 600px){
  .nav_bar{
    flex-direction: column; 
  }
  .nav_bar a {
   
    
    font-size: 1rem;
  }
  .nav_bar  a:hover {
    transition: 0.5s;
  background: #c56183;
  }
  
}
@media screen and (max-width: 600px) {
  .nav_bar a:not(:first-child) {display: none;}
  .nav_bar a.icon {
    float: right;
    display: block;
  }
  @media screen and (max-width: 600px) {
  .nav_bar.responsive {position: relative;}
  .nav_bar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav_bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav_bar .icon {
  display: none;
}
}
/*nav-end*/

/*work section*/
#work_section{
 border-radius: 30px;
text-align: center;
  padding: 5rem 5rem;
  background:linear-gradient(45deg,rgb(54,54,54),rgba(0,173,181));
height: 80rem;
justify-content: center;
align-content: center;
}

.work_header{

  font-family:'Eczar', serif;
  text-align: center;
  max-width: 640px;
  margin : auto;
  font-size: 4rem;
  border-bottom: 0.2rem solid white;
  color: white;
}

/* END OF WORK SECTION*/

/* skills section */
.skills1{
  font-family: 'Eczar', serif;
  text-align: center;
  max-width: 640px;
  padding-top: 40px;
  font-size: 4rem;

 
}
.skills_section{ 
 box-shadow: 10px;
  height: 120vh;
  background:linear-gradient(45deg,#12c2e9,#c471ed,#f64f59);
  border-radius: 30px;
}
@media(max-width: 681px){
.skills_section{
  height: 129rem;
  font-size:2rem;
}
}
/*skills end*/
/*SERVICES SECTION */
#services_section{
  border-radius: 30px;
  height: 80rem;
  text-align: center;
  
  background:linear-gradient(45deg,#e65c00,#F9D423);

}
@media(max-width: 681px){
#services_section{
  height: 80rem;
}

}
.services_list{
   font-family: 'Eczar', serif;;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-top: 160px;
  display: flex;
  flex-direction: row;
  font-size: 3rem;
}
.list_2{

  margin-right: auto;
  margin-left: auto;

}
.list_1{
  margin-right: auto;
  margin-left: auto;

}
.services_list li{
  padding: 20px;
}
@media(max-width: 681px){
  .list_1{
    margin-right:  auto;
    margin-left: auto;
  }

  }

.services_header{
  font-family: 'Eczar', serif;
  max-width: 640px; 
  text-align: center;
  margin: auto;
  font-size: 4rem;
  border-bottom: 0.2rem solid #213e3b;
  color: #213e3b;
}
@media(max-width: 681px){
  .services_list{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
  }
  .list_2{
    margin-right: auto;
    margin-left: auto; 
  }
  .list_1{
    margin-right: auto;
    margin-left: auto;

  }
}
/*END OF SERVICES section*/
/*.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
   width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;*/
}

/* end project section*/

/*work_section_*/
/*gallery*/
.gallery{
  margin: 20px 50px;
  }
@media(max-width: 681px){
  .gallery{
    margin: 10px 20px;
  }
}
.gallery img {
  transition: 1s;
  padding: 15px;
  width: 80px;
}
@media(max-width: 681px){
.gallery img{
  width: 40px;
  padding: 5px;
}
@media(max-width: 388px){
  .gallery img{
    width: 32px;
    padding: auto;

  }
}
@media(max-width: 334px){
  .gallery img{
    width: 20px;
    padding: auto;
  }
}

}
#thumbn{
  border:3px solid rgba(255,255,255,0.5);
  border-radius: 30px;

}
@media(max-width: 681px){
  #thumbn{
    border:2px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    position: relative;
  }
}
.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}

/* end of gallery*/
/* end of work section*/
.contact-section{
 
  
  background-image: linear-gradient(45deg,#16A085,#F4D03F);
 
  background-repeat: no-repeat;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 20rem;
  
    
}
footer{

 font-style: bold;
  height: 100%;
  color: white;
  font-size: 3rem;
  font-family: monospace;
 text-align: center;
  width: 100%;
 background-color: #303841;

  border-radius: 30px;
  
}
@media(max-width: 681px){
  footer{
    height: 100%;
    font-size: 2rem;
  }
}


 /* .nav-bar{
  display: flex;
  position: fixed;
  width: 100%;
 
  background:linear-gradient(rgb(190,49,68),rgba(229, 172, 180, 0.2)),url("img1.jpg");
  background-size: 100%;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);
}
  .nav_bar a {
  display: block;
  font-size: 3rem;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  
}
 .nav_bar a:hover{
  height: 90%;
 }
 
 */
  

.card {
  /* Add shadows to create the "card" effect */
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 8px;
  padding: 10px;
  width:90%;

}
@media(max-width: 681px){
  .card{
    margin-top: 20px;
    width: 250px;
  }
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 30px 10px rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 10px 20px;
}



.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

/*.fa-facebook {
  background: #3B5998;
  color: white;}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;}*/
  .fa-envelope{
    background:linear-gradient(45deg,#c0c0aa,#1cefff);
  color: white;
  }
  .fa-phone{
     background: linear-gradient(45deg,#232526,#414345);
  color: white;
}
.fa-qrcode{
  
  background:linear-gradient(45deg,#ECE9E6,#FFFFFF);
  color: black;

}

  .fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);

  color: white;
}

.contact-header{
  font-family: 'Chilanka', cursive;
}
